.jumbotron-favourites {
  background-image: url("https://image.freepik.com/free-vector/facebook-background-with-likes-hearts_23-2147858076.jpg");
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: top;
}
