/* input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid grey;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ff6e14;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #ff6e14;
  padding: "2px";
} */

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ff6e14;
  background-color: #ff6e14;
}
