.jumbotron-orders {
  background-image: url("https://images.unsplash.com/photo-1614018453562-77f6180ce036?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBhcmNlbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
}
