.jumbotron-search {
  background-image: url("https://image.freepik.com/free-vector/search-concept-landing-page_52683-20655.jpg");
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
}
